
.card-manager{
    min-height:100vh ;
    background-color: rgb(212, 209, 206);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.hidden {
    display: none !important;
}
.visit-card {
    margin: 15px 20px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.4);
    transition: 0.4s;
    position: relative;
    width: 300px;
    padding: 20px;
    background-color:     #fdfcfd;
    border: 3px solid #a09da0;
    border-radius: 20px;
}
.visit-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
.card-item{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.card-item-name{
    font-weight: bold;
    margin-right: 10px;
}
.delete-btn{
    font-weight: bold;
    position: absolute;
    right: 30px;
    padding: 3px 10px;
}
.edit-btn{
    padding:3px 20px;
}
.show-more-btn, .show-less-btn {
    margin: 10px 0;
    width: 100%;
}
button{
    transition: 0.3s;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #a5a2a5;
    border: 3px solid #9b989b;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 0;
}
button:hover{
    background-color: #837f83;
}
.card-manager .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  
.card-manager .modal-content {
    position: relative;
    background-color: #e9dfeb;
    margin: auto;
    padding: 0;
    border: 5px solid #aba5ad;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
  
  @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
  }
.card-manager .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.card-manager .close:hover,
.card-manager .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.card-manager .modal-header {
    padding: 2px 16px;
    background-color: #877b8a;
    color: white;
}
  
  .card-manager .modal-body {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
  
.card-manager .modal-footer {
    padding: 2px 16px;
    background-color: #aea2b1;
    color: white;
}
  label {
      padding: 5px 40px;
      width:100%;
      display: flex;
      justify-content: space-between;
  }
.edit-button{
    font-size:25px;
    color: #fff;
    background-color: #958699;
    border-color: #786879;
    width:100%;
    padding: 10px;
  }
.other-inputs{
    width:100%;
}

.filter{
    text-align: center;
    background-color: rgb(212, 209, 206);
    padding-top: 10px;
    padding-bottom: 10px;


}

.filter input{
    margin-right: 15px;
    border: 3px solid #9b989b;
    border-radius: 5px;
}

.filter select{
    margin-right: 15px;
    border: 3px solid #9b989b;
    border-radius: 5px;
}